@model List<BugModel>
@{
    ViewData["Title"] = "Bugs list";
    var key = Context.Request.Query["key"];
}

<div class="text-center">
    <h1 class="display-4">All Bug Reports</h1>
</div>

<div class=" p-2 m-0">
    <table class="table">
        <thead>
            <tr>
                <th> from </th>
                <th> software </th>
                <th> subject </th>
                <th> expiration </th>
                <th> status </th>
                <th>   </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bug in Model)
            {
                <tr>
                    <td> @bug.name </td>
                    <td> @bug.software </td>
                    <td> @bug.subject </td>
                    <td> @DateTime.Now.Subtract(bug.creationTime.Value) </td>

                    @if (bug.status == "Unresolved")
                    {
                        <td class="text-danger"> @bug.status </td>
                        <td> <a class="btn btn-primary" asp-action="resolve" asp-route-id="@bug.id" asp-route-key="@key">Resolve</a>  </td>

                    }
                    else if (bug.status == "Resolved")
                    {
                        <td class="text-success"> @bug.status </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="ViewBugReport" asp-route-id="@bug.id" asp-route-key="@key">View</a>
                        </td>
                    }

                    else 
                    {
                        <td class="text-warning"> @bug.status </td>
                        <td>
                            <a class="btn btn-secondary" asp-action="ViewBugReport" asp-route-id="@bug.id" asp-route-key="@key">View</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</div>
